div
{
    width: 225px;
}
div a
{
    background-color: gray;
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div a img
{
    width: 64px;
    padding-right: 5%;
}
div a:hover
{
    background-color: #ccc;
}